body {
    background-color: orchid;
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas: "navigation" "header" "content" "footer";
}

h1 {
    background-color: rgb(0, 255, 255);
    font-family: 'Monoton', cursive;
    font-size: 2em;
}

h2 {
    background-color: #0077cc;
}

p {
    background-color: blueviolet;
}

ul {
    background-color: chocolate;
    font-style: italic;
}

#navigation li {
    background-color: papayawhip;
}

div.container {
    background-color: black;
}

div.container {
    background-color: rgb(156, 236, 18);
}

#navigation li:first-child {
    background-color: white;
    color: #841617;
}

#navigation li:nth-child(3n) {
    color: #841617;
    background-color: white;
}

#navigation li:last-child {
    color: #841617;
    background-color: white;
}

#navigation li:nth-child(2n) {
    background-color: #841617;
}

#navigation li:nth-child(2n) {
    color: white;
}

#navigation li:hover {
    background-color: gold;
}

#navigation>ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

#navigation>ul>li {
    display: inline;
    position: relative;
    margin: 10px;
}

#navigation .dropdown {
    position: absolute;
    display: none;
    top: 15px;
    left: 0;
}

#navigation a:hover+.dropdown, #navigation a+.dropdown:hover {
    display: block;
}

#header h1, #header h2 {
    color: purple;
}

li {
    font-weight: bold;
}

#middle {
    font-size: 2em;
}

.container>h1 {
    background-color: darkgrey;
}

.brand {
    color: rgb(226, 43, 73);
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

#header {
    background-color: blue;
    grid-area: header;
}

#navigation {
    background-color: rgb(39, 241, 12);
    position: sticky;
    top: 0;
    grid-area: navigation;
}

#content {
    background-color: darkorange;
    padding: 20px;
    grid-area: content;
}

#footer {
    background-color: gold;
    grid-area: footer;
}

img {
    display: block;
    margin: 4em auto;
    max-width: 400px;
    width: 90%;
}

@media (min-width: 750px) {
    body {
        grid-template-columns: 15% auto;
        grid-template-rows: min-content auto min-content;
        grid-template-areas: "navigation header" "navigation content" "navigation footer";
    }
    #navigation>ul {
        flex-direction: column;
    }
    #navigation .dropdown {
        top: 0;
        left: 6vw;
    }
}