

body {
    background-color: orchid;
}

h1 {
    background-color: rgb(0, 255, 255);
}

h2 {
    background-color: #0077cc;
}

p {
    background-color: blueviolet;
}

ul {
    background-color: chocolate;
    font-style: italic;
}
#navigation li {
    background-color: papayawhip;
}

div.container {
    background-color: black;
}

div.container {
    background-color: darkolivegreen;
}

#navigation li:first-child{
    background-color: papayawhip;
}

#navigation li:last-child{
    background-color: magenta;
}

#navigation li:nth-child(2n){
    background-color: crimson;
}

#navigation li:hover {
    background-color: gold;
}

#navigation > ul > li {
    display: inline;
}

#navigation .dropdown {
    display: none;
}

#navigation a:hover + .dropdown {
    display: block;
}

#header h1, #header h2 {
    color: purple;
}

li {
    font-weight: bold;
}

#middle {
    font-size: 2em;
}

.container > h1{
    background-color: darkgrey;
}

.brand {
    color: rgb(226, 43, 73);
}

.container{
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
#header{
    background-color: blue;
}
#navigation{
    background-color: rgb(39, 241, 12);
}
#content{
    background-color: darkorange;
    padding: 20px;
}
#footer{
    background-color: gold;
}
img{
    display: block;
        margin: 4em auto;
        max-width: 400px;
        width: 90%;
}